@import '~bootstrap/scss/bootstrap';

body{
    background-color: #202020;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: #fff;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1300px;
        margin:auto;

        nav {
            line-height: 130px;

            ul {
                display: flex;
                li{
                    list-style: none;
                    text-transform: uppercase;
                }

                a {
                    color: black;
                    text-decoration: none;
                    padding: 0 12px;

                }
            }
        }
    }
}
#jumbotron {
    background-image: url('');
    height: 500px;
    background-size: cover;
    margin-bottom: 50px;
}

span {
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    top: -68px;
    left: 0;
    background-color: #0282f9;
    font-weight: bolder;

}

#Series {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 800px;
}

#btn {
    display: flex;
}

button {
    background-color: #0282f9;
    color: #fff;
    padding: 10px 30px;
    margin: 30px auto;
    font-weight: bolder;
    border: none;

}
.series-card {
    width: 200px;
    height: 400px;
    padding-bottom: 50px;
    position: relative;

    img {
        width: 100%;
        height: 300px;
        transition: all 1s;
    }

    h3 {
        padding-top: 10px;
        font-weight: 500;
        color: white;
        text-transform: uppercase;
    }

    &:hover img {
        transform: scale(1.3);
        box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
        opacity: 0.5;
    }

    &:hover h3 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        font-weight: bolder;
    }

}
footer {
    background-image: url('');
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;

    nav {
        width: 1300px;
        margin:auto;
        padding: 35px 0;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .section {
        padding-right: 40px;
    }

    h3 {
        text-transform: uppercase;
        color: white;
        padding: 8px 0;
    }

    a {
        color: gray;
        text-decoration: none;
        display: inline-block;
        padding: 5px 0;

        &:hover {
            color: white;
        }
    }

    img {
        position: absolute;
        top: -80px;
        right: 280px;
        height: 700px;
        &:hover{
            animation: rotate 1s infinite linear;
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate3d(0, 0, 1, 0deg);
        }
        50% {
            filter: invert(1);
        }
        100% {
            transform: rotate3d(0, 0, 1, 360deg);
        }
    }
}
.market-list{
    .container-market {
        background-color: #0282f9;
        height: 200px;
        width: 100%;

        .item a,
        .item img {
            transition: all 1s;
        }

        .item:hover a {
            color: black;
        }

        .item:hover img {
            filter: invert(100%);
            transform: scale(1.3)
        }
    }

    .box {
        width: 1300px;
        height: 100%;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            li{
                list-style: none;
            }

            a {
                text-decoration: none;
                color: white;
                img {
                    vertical-align: middle;
                    height: 60px;
                    padding-right: 15px;
                }
                span{
                    text-transform: uppercase;
                }
            }
        }

    }
}


.lower-footer{
    .container {
        background-color: #303030;
        width: 100%;
    }

    .box {
        width: 1300px;
        margin:auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;

        ul {
            display: flex;
            align-items: center;

            h3 {
                color: #0282f9;
                transition: all 1s;
                text-transform: uppercase;

                &:hover {
                    font-weight: bolder;
                    color: white;
                }
            }

            li {
                padding: 15px;
                transition: all 1s;
                list-style: none;

                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }

    button {
        padding: 10px;
        background: none;
        border: 1px solid #0282f9;
        color: white;
        transition: all 1s;

        &:hover {
            color: black;
            background-color: white;
            transform: scale(1.5);
            font-weight: bolder;
        }
    }
}


